[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/range-v3"]
	path = include/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "include/catch"]
	path = include/catch
	url = https://github.com/philsquared/Catch.git
[submodule "include/cpr"]
	path = include/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/qtl"]
	path = include/qtl
	url = https://github.com/znone/qtl.git
